html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #9ad0ff;
    font-size: 18px;
}

input{
    background-color: #fd97c4; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 5px 20px; /

}
.space_btw{
    justify-content: space-between;
}
text{
    font-size: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.rating{
    margin: 15px;
    justify-content: center;
    align-items: center;
}

.centered-image {
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
}
.title{
    color: white;
    font-size: 20px;
    margin-top: 0;
    margin-left: 40px;
}
.info{
    width: 620px;
}

.left{
    text-align: left;
}

p{
    font-size: 18px;
    margin-bottom: 0;
    text-align: center;
    
}
h1{
    margin-left: 40px;
    color: white;
    margin-bottom: 0px;
    margin-top: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 

}
h2{
    margin-bottom: 0px;
}

img{
    justify-content: center;
    align-items: center;
    margin-bottom: 0;

}

.movie_img{
    border: solid;
    border-color: #8f2151;
    border-width: 2px;
    border-radius: 4px;

}
.container{
    margin-left: 60px;
}

aside{
    color: rgb(0, 0, 0);
    background-color: #fac9df;
    height: 600px;
    width: 550px;
    margin: 50px 20px 20px 60px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.sidebar{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}


button {
    background-color: #fd97c4;
    color: white;
    border: none; 
    border-radius: 5px;
    padding: 5px 20px; 
    margin: 40px 10px 10px 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;
}



.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}


/* With help from W3 */
/* Hover effect for all buttons */
button:hover {
    background-color: #e6e6e6; 
}

/* Active button styling */
button.active {
    background-color: #8f2151; 
    color: white; 
    border: 2px solid #53132e;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Inactive button styling (default state) */
button:not(.active) {
    background-color: #f9f9f9; 
    color: #333; 
}